/*MAIN CSS*/
.header,
.form,
.fullPlay,
.thumbnails,
.footer {

}
.form {

}
footer {
	
	text-align: center;
}
/*THUMBNAILS*/
.thumbnails_wrap {

}
.thumbnails_data {

}
#search_results {
width: 100%;
}

.target {
width: 31%;
display: inline-block;
text-align: center;
border: 1px solid gray;
margin: 1%;
height: 275px;
}
.target p {
	height: 37px;
}

#fullPlay {
	max-width: 800px;
	margin: 0px auto;
	display: block;
	padding: 40px;

}
/*FULL VIDEO PLAY*/
.fullPlay_wrap {

}
.fullPlay_data {

}
