/*MAIN CSS*/
.header,
.form,
.fullPlay,
.thumbnails,
.footer {
	max-width: 960px;
	margin: 0px auto;
	display: block;

}
.form {

}
footer,
.contact {
	
	text-align: center;
}
hr {
	width: 80%;
}
/*THUMBNAILS*/
.thumbnails_wrap {

}
.thumbnails_data {

}
#search_results {
	width: 100%;
}

.target {
	width: 31%;
	display: inline-block;
	text-align: center;
	border: 1px solid gray;
	margin: 1%;
	height: 275px;
}
.target p {
	height: 37px;
}
.target img {
	width: 90%;
}

#fullPlay {
	text-align: center;
	padding: 40px;

}
/*FULL VIDEO PLAY*/
.fullPlay_wrap {

}
.fullPlay_data {

}
